{% extends 'base.html' %}

{% block content %}
<h1>Акты сверки</h1>
<div class="card mb-3">
    <div class="card-body">
        <a href="{% url 'act_create' %}">Создать акт сверки</a>
    </div>
</div>

{% for act in acts %}
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="{% url 'act_detail' act.pk %}">Акт сверки номер {{ act.id }} {{act}}</a></h5>
        
        <p class="card-text"><a href="{% url 'act_update' act.pk %}">Изменить</a></p>
        <p class="card-text"><a href="{% url 'act_delete' act.pk %}">Удалить</a></p>
    </div>
</div>
{% endfor %}

{% include 'partials/pagination.html' %}
{% endblock %}