{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>Дашборд</h1>
        
        {% for store in stores %}
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'store_detail' store.pk %}">{{ store.name }}</a></h5>
                <p class="card-text">Долг: {{ store.debt|floatformat:2 }} руб.</p>
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="col-md-4">
        {% block sidebar %}
        <div class="card">
            <div class="card-header">
                Быстрые действия
            </div>
            <div class="card-body">
                <p><a href="{% url 'supply_create' %}">Создать поставку</a></p>
                <p><a href="{% url 'transaction_create' %}">Создать поступление</a></p>
                <p><a href="{% url 'act_create' %}">Создать акт сверки</a></p>
            </div>
        </div>
        <p></p>
        <div class="card">
            <div class="card-header">
                Статистика
            </div>
            <div class="card-body">
                <p>Всего магазинов: {{ store_count }}</p>
                <p>Общий долг: {{ total_debt|floatformat:2 }}</p>
            </div>
        </div>
        {% endblock %}
    </div>
</div>
{% endblock %}
